@charset "UTF-8";

body{
    background-color: rgb(89, 140, 234);
    text-align: center;
}
header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.453);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    width: 300px; /* ou outro valor que prefira */
    height: 300px; /* mantenha a altura e largura iguais */
    border-radius: 50%;

}

